.App {
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

.inputItem {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  margin-right: 16px;
}

input {
  border-radius: 4px;
  border: 1px solid #a5a2a294;
  padding: 8px 4px 7px;
  font-size: 16px;
  color: #666464;
}

button {
  height: 32px;
  background: #a5a5a5;
  border-radius: 4px;
  border-width: 2px;
  border-color: #7a7a7a73;
}

.calculateBox{
  padding: 16px;
  text-align: center;
}

.resultBox {
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

.errorMessage {
  color: #f30202;
}
